:root {
    --text-color: #494544;
    --bg-button: #AB4F66;
    --bg-primary: #E7E7E7;
    --text-primary: #B05266;
    --back-box: #F2EBEC;
}

html {
    box-sizing: border-box;
    font-size: 62.5%;
    direction: rtl;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

a {
    text-decoration: none;
}

body {
    font-family: 'IranYekan';
    line-height: 1.6;
    font-size: 1.6rem;
    overflow-x: hidden;
    height: 100vh;
}

.icon-pack {
    display: none;
}

.margin-right {
    margin-right: 0 !important;
    margin-left: 0 !important;
}